<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Pizza workbanch</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/core.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js" type="text/javascript"></script>
    <script th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/utils.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.query-object.js}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#button-save').click(function (e) {
                $.post('ingredients', $('form[name=ingredientForm]').serialize(), function (ingredient) {
                    $('#ingredient-table tr:last').after(function () {
                        return '<tr>' +
                            '<td style="width:20%">' + ingredient.id + '</td>' +
                            '<td style="width:30%">' + ingredient.title + '</td>' +
                            '<td style="width:30%">' + ingredient.shelf_life + ' ч.</td>' +
                            '<td style="width:20%"><div class="d-inline text-nowrap">' +
                            '<button type="button" class="button-edit btn btn-primary" ingredientid="' + ingredient.id + '">Изменить</button>' +
                            '<button type="button" class="button-delete btn btn-danger" ingredientid="' + ingredient.id + '">Удалить</button>' +
                        '</div></td></tr>';
                    });
                    $('#addModal').modal('hide');
                    $('#addModal input').val('');
                });
            });
            $('#button-add').click(function (event) {
                $('#addModalTitle').text('Создать ингредиент');
                $('#addModal').modal('show');
            });
            $('.button-edit').click(function (event) {
                var ingredientid = $(event.target).attr('ingredientid');
                $('#addModalTitle').text('Изменить ингредиент ' + ingredientid);
                $('#ingredient-title').val('TITLE');
                $('#ingredient-shelf-life').val('SHELF LIFE');
                // <input class="form-control" id="ingredient-title" name="title" type="text">
                //     </div>
                //     <div class="form-group">
                //     <label class="col-form-label" for="ingredient-shelf-life">Срок годности:</label>
                // <input class="form-control" id="ingredient-shelf-life" name="shelfLife" type="text">
                $('#addModal').modal('show');
            });
            $('.button-delete').click(function (event) {
                var ingredientId = $(event.target).attr('ingredientid');
                $('#deleteModal').modal('show');
                $('#button-confirm-delete').click(function (event) {
                    $.ajax({
                        url: 'ingredients/' + ingredientId,
                        type: 'DELETE',
                        success: function (result) {
                            $('#deleteModal').modal('hide');
                        }
                    });
                })
            });
            $('.page-link').click(function (event) {
                var topage = $(event.target).attr('topage');
                putParameterToUrl('page', topage);
            })
        });
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pizza workstation</a>
    <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Главная</a>
            <li class="nav-item dropdown active">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="ingredient-dropdown" role="button">
                    Ингредиенты
                </a>
                <div aria-labelledby="ingredient-dropdown" class="dropdown-menu">
                    <a class="dropdown-item disabled" href="/">Список ингредиентов</a>
                    <a class="dropdown-item" href="#">Склад</a>
                    <a class="dropdown-item" href="#">Поставщики</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#" id="pizza-dropdown" role="button">
                    Пиццы
                </a>
                <div aria-labelledby="pizza-dropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="#">Список пицц</a>
                    <a class="dropdown-item" href="#">Рецепты</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <a class="nav-item nav-link" href="customers">Клиенты</a>
        </div>
    </div>
</nav>

<main class="container" role="main">

    <div class="container-fluid mt-3">
        <table class="table" id="ingredient-table">
            <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Название</th>
                <th scope="col">Срок годности</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="ingredients : ${content}">
                <tr>
                    <td style="width:20%" th:text="${ingredients.id}"></td>
                    <td style="width:30%" th:text="${ingredients.title}"></td>
                    <td style="width:30%" th:text="${ingredients.shelfLife} + ' ч.'"></td>
                    <td style="width:20%">
                        <div class="d-inline text-nowrap">
                            <button class="button-edit btn btn-primary" th:attr="ingredientid=${ingredients.id}"
                                    type="button">Изменить
                            </button>
                            <button class="button-delete btn btn-danger" th:attr="ingredientid=${ingredients.id}"
                                    type="button">Удалить
                            </button>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="container-fluid mt-3">
        <div class="row">
            <button class="btn btn-primary" id="button-add" type="button">Создать</button>
        </div>
    </div>

    <div class="container-fluid mt-3 d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:class="'page-item ' + ${is_first ? 'disabled' : ''}">
                    <a aria-label="Previous" class="page-link" th:attr="topage=0">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:if="${!is_first}">
                    <a class="page-link" th:attr="topage=${page - 1}" th:text="${page}"></a>
                </li>
                <li class="page-item active">
                    <a class="page-link" th:attr="topage=${page}" th:text="${page + 1}"></a>
                </li>
                <li class="page-item" th:if="${!is_last}">
                    <a class="page-link" th:attr="topage=${page + 1}" th:text="${page + 2}"></a>
                </li>
                <li th:class="'page-item ' + ${is_last ? 'disabled' : ''}">
                    <a aria-label="Next" class="page-link" th:attr="topage=${total_elements / size}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Create dialog -->
    <div aria-hidden="true" aria-labelledby="addModalTitle" class="modal fade" id="addModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalTitle">Создать ингредиент</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="ingredientForm">
                        <div class="form-group">
                            <label class="col-form-label" for="ingredient-title">Название:</label>
                            <input class="form-control" id="ingredient-title" name="title" type="text">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="ingredient-shelf-life">Срок годности:</label>
                            <input class="form-control" id="ingredient-shelf-life" name="shelfLife" type="text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Отменить</button>
                    <button class="btn btn-success" id="button-save" type="button">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete dialog -->
    <div aria-hidden="true" aria-labelledby="deleteModalLabel" class="modal fade" id="deleteModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Подтвердите действие</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите удалить ингридиент?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Отмена</button>
                    <button class="btn btn-danger" id="button-confirm-delete" type="button">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>